<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="The Soap Box Podcast is an immersive roundtable discussion about media, art, commerce, and creative industry." name="description">
    <meta content="http://podcast.thesoapcollective.com" property="og:url">
    <meta content="website" property="og:type">
    <meta content="The Soap Box Podcast" property="og:title">
    <meta content="The Soap Box Podcast" property="og:site_name">
    <meta content="The Soap Box Podcast is an immersive roundtable discussion about media, art, commerce, and creative industry." property="og:description">
    <meta content="http://podcast.thesoapcollective.com/open_graph.jpg" property="og:image">
    <link href="http://podcast.thesoapcollective.com/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="http://podcast.thesoapcollective.com/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="http://podcast.thesoapcollective.com/favicon.png" rel="icon" type="image/x-icon">
    <title>The Soap Box Podcast by The Soap Collective</title>
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <script src="//use.typekit.net/dhn8nfe.js" type="text/javascript"></script>
    <script>
      // Typekit
      try{Typekit.load();}catch(e){}
    </script>
  </body>
</html>
